@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

#canvas {
  @apply absolute top-0 left-0 right-0 bottom-0 z-10;
  & video {
    width: 100%;
    height: 100%;
  }
}
#videoContainer {
  @apply z-0;
}
