@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.chat-message {
	font-family: Inter, "Segoe UI", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

.chat-line,
.twitch-chat {
	overflow: hidden;
	padding-bottom: 3px;
	position: relative;
	width: 100%;
}

.twitch-chat {
	height: 100%;
	flex-direction: column;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-end;
}

body {
	text-rendering: geometricPrecision;
	margin: 0;
}
