@tailwind base;
@tailwind utilities;
@tailwind components;
#widget {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9000;
}
#alert-box {
  height: 100%;
  width: 100%;
  position: absolute;
}
body[data-layout="above"] #wrap,
.widget-AlertBox[data-layout="above"] #wrap {
  display: table;
}
body[data-layout="above"] #alert-image,
.widget-AlertBox[data-layout="above"] #alert-image {
  height: 100%;
  display: table-cell;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
body[data-layout="above"] #alert-text,
.widget-AlertBox[data-layout="above"] #alert-text {
  display: table-cell;
  text-align: center;
}
body[data-layout="above"] #alert-image-wrap,
body[data-layout="above"] #alert-text-wrap,
.widget-AlertBox[data-layout="above"] #alert-image-wrap,
.widget-AlertBox[data-layout="above"] #alert-text-wrap {
  display: table-row;
}
/* image and text centered and stretched for text over a banner */

body[data-layout="banner"] #alert-image,
.widget-AlertBox[data-layout="banner"] #alert-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
body[data-layout="banner"] #alert-image-wrap,
body[data-layout="banner"] #alert-text-wrap,
.widget-AlertBox[data-layout="banner"] #alert-image-wrap,
.widget-AlertBox[data-layout="banner"] #alert-text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
}
body[data-layout="banner"] #alert-image,
body[data-layout="banner"] #alert-text,
.widget-AlertBox[data-layout="banner"] #alert-image,
.widget-AlertBox[data-layout="banner"] #alert-text {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
/* image on left side */

body[data-layout="side"] #alert-box,
.widget-AlertBox[data-layout="side"] #alert-box {
  display: table;
}
body[data-layout="side"] #wrap,
.widget-AlertBox[data-layout="side"] #wrap {
  display: table-row;
}
body[data-layout="side"] #alert-image-wrap,
.widget-AlertBox[data-layout="side"] #alert-image-wrap {
  width: 30%;
  height: 100%;
  display: table-cell;
}
body[data-layout="side"] #alert-image,
.widget-AlertBox[data-layout="side"] #alert-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
body[data-layout="side"] #alert-text-wrap,
.widget-AlertBox[data-layout="side"] #alert-text-wrap {
  width: 70%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
body[data-layout="side"] #alert-text,
.widget-AlertBox[data-layout="side"] #alert-text {
  display: inline-block;
}
.widget-AlertBox[data-layout="banner"] #alert-image,
body[data-layout="banner"] #alert-image {
  z-index: 4;
}
.hidden {
  opacity: 0;
}

#alert-text {
  z-index: 6;
  position: relative;
  padding: 20px;
  text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000,
    0px 0px 4px #000, 0px 0px 5px #000;
}
#alert-image {
  z-index: 6;
  position: relative;
}
#alert-image img {
  height: 1px;
  opacity: 0;
  width: 1px;
}
#alert-image video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
#alert-text-wrap {
  z-index: 6;
  position: relative;
}
#alert-message,
#alert-user-message {
  text-align: center;
}
#alert-message {
  /* @apply text-5xl; */
  color: white;
  font-weight: semibold;
  font-family: "Lilita One", sans-serif;
}

#alert-user-message {
  /* @apply text-5xl; */
}

.user-msg {
  color: white;
  font-weight: semibold;
  font-family: "Lilita One", sans-serif;
}
.emote {
  max-height: calc(48px + 0.25rem);
  display: inline-block;
}

#debug {
  z-index: 9001;
}
