* {
  position: relative;
  top: +5px;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: {{fontSize}}px;
  text-align: center;
}

.mySlides {
  display: none;
}

#username {
  color: white;
  font-weight: {{fontWeight}};
}

img {
  height: {{fontSize}}px;
}
